extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.firstName')
        th= t('views.users.lastName')
        th= t('views.users.username')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th= 'Actions'
    tbody
      each user in users
        tr
          td= user.id
          td= user.firstName
          td= user.lastName
          td= user.username
          td= user.email
          td= formatDate(user.createdAt)
          td
            .d-flex.flex-wrap
              a.btn.btn-primary.me-1(href=route('editUser', { id: user.id }))= t('views.users.edit.submit')
              +buttonTo(route('deleteUser', { id: user.id }), 'delete')(class="btn btn-danger" value=t('views.users.delete.submit'))



